<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SleepAppSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3110A2951DA729B2003618C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3110A2AB1DA729B3003618C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3110A2B61DA729B3003618C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
